---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts | limit: 1 %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
        {% if post.loc %}
          at {{ post.loc }}
        {% endif %}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="posts">
  {% for post in site.categories.meeting %}
  {% if forloop.index == 1 %}{% continue %}{% endif %}
    <h2 class="post-title">
      <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
      <a href="{{ post.url }}">{{ post.title }} at {{ post.loc }}</a>
    </h2>
  {% endfor %}
</div>
